@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: bold;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-style: italic;
  text-align: center;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
}

.result {
  display: block;
  font-size: 24px;
  line-height: normal;
  font-weight: 600;
  margin: 10px;
}

.hidden {
  display: none !important;
}

.tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tasks h2 {
  max-width: 80%;
}

.tasks__list {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tasks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tasks__item--done {
  display: none;
}

button {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-size: 24px;
  text-transform: uppercase;
  margin: 15px;
  padding: 15px;
  min-width: 200px;
  border-radius: 5px;
  border: none;
  background-color: #226464;
  color: #ffffff;
  cursor: pointer;
}

button:hover, button:focus {
  outline: none;
  opacity: 0.9;
}

.hashStorage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hashStorage__title, .hashStorage__recipe {
  width: 100%;
  font-size: 24px;
  line-height: normal;
  font-weight: 600;
  margin: 10px;
}

.hashStorage__add, .hashStorage__get, .hashStorage__delete, .hashStorage__show {
  font-size: 20px;
  text-transform: none;
  font-weight: 400;
  margin: 10px;
}

.calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chess__board {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.chess__ceil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 0.5px solid #414141;
}

.chess__ceil--black {
  background-color: #414141;
  color: white;
}

.chess__ceil--red {
  background-color: #c44133;
  color: black;
}

.chess__queen {
  background-image: url("../img/queen.svg");
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.chess__queen.chess__ceil--red {
  background-size: cover;
  background-color: #a31a0b;
}

.chess__queen:hover, .chess__queen:focus {
  background-size: cover;
}

.chess__knight {
  background-image: url("../img/knight.svg");
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  position: absolute;
}

.chess__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chess__combination {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 10px;
  min-width: 200px;
  margin: 0 15px;
}

.chess-knight .result {
  margin-top: 0;
  margin-bottom: 15px;
}

@media (max-width: 1023px) {
  .chess__board {
    width: 280px;
    height: 280px;
  }
  .chess__ceil {
    font-size: 14px;
    width: 35px;
    height: 35px;
  }
}

.picture {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 50px;
}

.picture__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  height: 700px;
  box-sizing: border-box;
  outline: 1px solid #698139;
}

.picture__title {
  display: block;
  font-size: 24px;
  line-height: normal;
  font-weight: 600;
  margin: 10px;
}

.picture__image {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 400px;
  height: 300px;
  top: 100px;
  left: 300px;
  outline: 1px solid #698139;
}

.picture__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  z-index: -1;
  background-image: url("../img/shiba.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.picture__image:hover {
  cursor: pointer;
}

.picture__image--mirrorX::before {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.picture__image--mirrorY::before {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.picture__image--mirrorX.picture__image--mirrorY::before {
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1);
}

.picture__control {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #698139;
  position: absolute;
  border: 1px solid black;
}

.picture__control::before {
  display: none;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  background-image: url("../img/arrows.svg");
  background-size: cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.picture__control:hover, .picture__control:active, .picture__control--active {
  width: 0;
  height: 0;
}

.picture__control:hover::before, .picture__control:active::before, .picture__control--active::before {
  display: block;
}

.picture__control--non-active:active, .picture__control--non-active:hover {
  width: 12px;
  height: 12px;
}

.picture__control--non-active:active::before, .picture__control--non-active:hover::before {
  display: none;
}

.picture__control--left-top {
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.picture__control--left-top::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.picture__control--top {
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.picture__control--top::before {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.picture__control--right-top {
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.picture__control--right-top::before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.picture__control--right {
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.picture__control--right-bottom {
  bottom: 0;
  right: 0;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.picture__control--right-bottom::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.picture__control--bottom {
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.picture__control--bottom::before {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.picture__control--left-bottom {
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.picture__control--left-bottom::before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.picture__control--left {
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 1023px) {
  .picture {
    height: 600px;
  }
  .picture__image {
    width: 200px;
    height: 150px;
    top: 50px;
    left: 150px;
  }
}

form {
  margin: 20px;
  min-width: 700px;
  border-radius: 5px;
  border: 1px solid #797979;
}

form fieldset {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 15px;
  padding: 0;
  border: 0;
}

form label,
form legend {
  float: right;
  display: block;
  width: 30%;
  font-size: 20px;
  line-height: normal;
  padding: 8px 10px;
  text-align: left;
}

form input,
form select,
form textarea {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 300px;
  min-height: 40px;
  margin: 0;
  padding: 5px 10px;
  background-color: #ffffff;
  border: 1px solid #797979;
  border-radius: 5px;
  font-size: 20px;
}

form input[type=radio] {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 25px;
  height: 25px;
  min-width: 0;
  margin: 0;
  cursor: pointer;
}

form input[type=radio] + label {
  width: auto;
  margin-right: 15px;
  cursor: pointer;
}

form input[type=checkbox] {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 25px;
  height: 25px;
  min-width: 0;
  margin: 0;
  cursor: pointer;
}

form button {
  display: block;
  margin-top: 0;
  margin-right: auto;
}

form .shorttext {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  min-width: 150px;
  width: 35%;
}

.popup-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-menu__list {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.popup-menu__list--sub {
  display: none;
  top: calc(100% - 5px);
  left: 5px;
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 250px;
}

.popup-menu__list--sub-second {
  top: 5px;
  left: calc(100% - 5px);
}

.popup-menu__list--show {
  display: block;
}

.popup-menu__item {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px;
  background-color: #9fb0b1;
  border: 1px solid gray;
  cursor: pointer;
}

.popup-menu__item a {
  display: block;
  color: black;
}

.popup-menu__item a:hover, .popup-menu__item a:focus {
  color: brown;
}
/*# sourceMappingURL=style.css.map */