.locStorage {
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: stretch;

	&__title,
	&__info {
		width: 100%;
		font-size: 24px;
		line-height: normal;
		font-weight: 600;
		margin: 10px;;
	}

	&__info {
		font-size: 20px;
		text-align: left;
		padding-left: 20px;
	}

	&__add,
	&__get,
	&__delete,
	&__show {
		font-size: 20px;
		text-transform: none;
		font-weight: 400;
		margin: 10px;;
	}

	&--drinks {
		button {
			background-color: brown;
		}
	}

}
