.popup-menu {
    &__list {
        @include transition(all);
        list-style: none;
        display: flex;
        font-size: 18px;
        font-style: normal;
	    text-transform: uppercase;
	    margin: 0;
        padding: 0;
        //min-width: 200px;
        &--hidden {
            display: none;
        }
    }
    
    &__item {
        padding: 10px 20px;
        background-color: rgb(159, 176, 177);
        border: 1px solid gray;
    }
}
