.tennis {
    
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    &__buttons {
        margin-bottom: 20px;
    }

    &__playground {
        outline: 2px solid #333;
        position: relative;
        margin: 0 auto;
    }

    &__scoreboard {
        margin-bottom: 10px;
        font-style: normal;
    }

    &__start {
        margin: 10px auto;
    }
}

